* {
    background-color: gold;
}
header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    height: 200px;
}

#underscore {
    font-size: 20px;
    text-align: center;
    height: 150px;
}

#wrongGuess {
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}

#rightGuess {
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}

#numGuess {
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}

#winCounter {
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}

#lossCounter {
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}