* {
    background-color: gold;
}
header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    height: 100px;
}

.wrapper {
    text-align: center;
}
#new-game-button {
    margin: auto;
    top:50%;
}

#placeholders {
    font-size: 20px;
    letter-spacing: 6px;
    text-align: center;
    height: 100px;
}

#guessed-letters {
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}

#rightGuess {
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}

#guesses-left {
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}

#wins {
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}

#losses {
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}